@import "../../../styles.scss";

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  background-color: $base-background-color;
  margin: 10px;
  padding: 20px;
}

.flex-container-left {
  width: 40%;
  word-wrap: break-word;
}

.flex-container-right {
  width: 60%;
  word-wrap: break-word;
}

.container-center {
  padding-top: 1px;
  display: flex;
  justify-content: center;
}
