<div class="products-container">
  <div class="products-list border rounded">
    <app-product-filter (searchValue)="filterData($event)"></app-product-filter>
    <br />
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let product of products$ | async"
        (click)="onClick(product)"
        [ngClass]="{
          active: product.id === selectedProductId,
          'text-danger': product.price === 0
        }"
      >
        <div class="d-flex">
          <div class="mr-auto p-2">
            {{ product.name }} {{ product.price | currency: "PLN":"symbol" }}
          </div>
          <div class="p-2">
            <button
              class="btn btn-secondary"
              [routerLink]="['/products', product.id]"
            >
              View details
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div class="products-list-container-center">
      <pagination
        [totalItems]="totalItems$ | async"
        [itemsPerPage]="limitSize"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event.page)"
      >
      </pagination>
    </div>
  </div>
</div>
