<div class="products-container">
  <div class="products-list border rounded">
    <app-product-filter (searchValue)="filterData($event)"></app-product-filter>
    <br />
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let product of products | async"
        (click)="onClick(product)"
        [ngClass]="{'active': product.id === selectedProduct.id, 'text-danger': product.price === 0}"
      >
        <div>
          {{ product.name }} {{ product.price | currency: "PLN":true }}
        </div>
      </li>
    </ul>
    <div class="products-list-container-center">
      <pagination
        [totalItems]="totalItems | async"
        [itemsPerPage]="limitSize"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event.page)"
      >
      </pagination>
    </div>
  </div>
  <div class="products-details border rounded">
    <div *ngIf="selectedProduct">
      <app-product-details [product]="selectedProduct"></app-product-details>
    </div>
  </div>
</div>
