@import "../../../styles.scss";

.products-container {
  display: flex;
  justify-content: center;
}

.products-container > div {
  background-color: $base-background-color;
  margin: 10px;
  padding: 20px;
}

.products-list {
  width: 40%;
}

.products-details {
  width: 60%;
}

.products-list-container-center {
  padding-top: 1px;
  display: flex;
  justify-content: center;
}
