<div class="contact-form-container border rounded">
  <div *ngIf="!showSummary">
    <form
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      class="needs-validation"
      novalidate
    >
      <app-input label="Email">
        <input
          [appInputRef]="this.contactForm.get('email')"
          class="form-control"
          [formControl]="email"
          placeholder="Please enter Email address.."
        />
      </app-input>
      <app-input label="Message"
        ><input
          [appInputRef]="this.contactForm.get('message')"
          class="form-control"
          [formControl]="message"
          placeholder="Please enter message.."
      /></app-input>
      <button
        [disabled]="contactForm.invalid"
        type="submit"
        class="btn btn-secondary"
        [ngClass]="{ disabled: contactForm.invalid }"
      >
        Submit
      </button>
    </form>
  </div>
  <div *ngIf="showError" class="text-danger">
    <br />
    <div>
      Error occured with sending form. Please contact with Administrator.
    </div>
  </div>
  <div *ngIf="showSummary" class="text-center">Thanks for filling form!</div>
</div>
