@import "../../../styles.scss";

.summary-message-container {
  margin: auto;
  padding: 10px;
  background-color: $base-background-color;
  margin-top: 50px;
  width: 500px;
}

button {
  width: 300px;
}

.error{
  margin-top: 20px;
}
