<div *ngIf="showError" class="text-danger">
  <div class="error">
    Error occured with adding product. Please contact with Administrator.
  </div>
</div>
<div *ngIf="showSummary" class="text-center">
  <div class="summary-message-container border rounded div-container">Product was added to cart!</div>
  <div class="div-container">
    <button class="btn btn-primary" [routerLink]="['/products']">
      Continue shopping
    </button>
  </div>
  <div class="div-container">
    <button class="btn btn-primary" [routerLink]="['/cart']">
      Go to cart summary
    </button>
  </div>
</div>
