<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
    </div>
    <ul class="list-unstyled components">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/admin/products"
          class="item"
          >Products</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/admin/messages"
          class="item"
          >Messages</a
        >
      </li>
    </ul>
  </nav>

  <div id="content">
    hello
  </div>
</div>
