<div class="messages-container">
  <div class="messages-list border rounded">
    <app-input-search (searchValue)="filterData($event)" placeholder="Search messages.."></app-input-search>
    <br />
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let message of messages$ | async"
        (click)="onClick(message)"
        [ngClass]="{
          active: message.id === selectedMessageId
        }"
      >
        <div class="d-flex">
          <div class="mr-auto p-2">
            {{ message.email }}
          </div>
          <div class="p-2">
            <button
              class="btn btn-secondary"
              [routerLink]="['/admin/messages', message.id]"
            >
              View details
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div class="messages-list-container-center">
      <pagination
        [totalItems]="totalItems$ | async"
        [itemsPerPage]="limitSize"
        [(ngModel)]="currentPage"
        (pageChanged)="pageChanged($event.page)"
      >
      </pagination>
    </div>
  </div>
</div>
