<div class="form-row">
  <div class="col-md mb-3">
    <label>{{ label }}</label>
    <ng-content [ngClass]="{ 'is-danger': showErrors() }"></ng-content>
    <ng-container *ngIf="showErrors()">
      <div class="text-danger" *ngIf="this.input.formControl.errors.required">
        Value is required.
      </div>
      <div class="text-danger" *ngIf="this.input.formControl.errors.minlength">
        Value you entered is
        {{ this.input.formControl.errors.minlength.actualLength }}
        characters long, but it must be at least
        {{ this.input.formControl.errors.minlength.requiredLength }}
        characters.
      </div>
      <div class="text-danger" *ngIf="this.input.formControl.errors.maxlength">
        Value you entered is
        {{ this.input.formControl.errors.maxlength.actualLength }}
        characters long, but it cannot be longer than
        {{ this.input.formControl.errors.maxlength.requiredLength }}
        characters.
      </div>
      <div class="text-danger" *ngIf="this.input.formControl.errors.pattern">
        Invalid format.
      </div>
    </ng-container>
  </div>
</div>
