<div class="form-row">
  <div class="col-md mb-3">
    <label>{{ label }}</label>
    <input
      class="form-control"
      placeholder="{{ placeholder }}"
      [formControl]="control"
      [ngClass]="{ 'is-danger': showErrors() }"
    />
    <ng-container *ngIf="showErrors()">
      <div class="text-danger" *ngIf="control.errors.required">
        Value is required.
      </div>
      <div class="text-danger" *ngIf="control.errors.minlength">
        Value you entered is
        {{ control.errors.minlength.actualLength }}
        characters long, but it must be at least
        {{ control.errors.minlength.requiredLength }}
        characters.
      </div>
      <div class="text-danger" *ngIf="control.errors.maxlength">
        Value you entered is
        {{ control.errors.maxlength.actualLength }}
        characters long, but it cannot be longer than
        {{ control.errors.maxlength.requiredLength }}
        characters.
      </div>
      <div class="text-danger" *ngIf="control.errors.pattern">
        Invalid format.
      </div>
    </ng-container>
  </div>
</div>
