<div class="button-back-to-list">
  <button class="btn btn-secondary" [routerLink]="['/products']">
    Back to list
  </button>
</div>
<div *ngIf="product" class="product-details-container border rounded shadow">
  <div class="product-header header border rounded bg-dark">
    <h2>
      <i>{{ product.name }}</i>
    </h2>
  </div>
  <div class="product-content">
    <div class="product-content-field">Name: {{ product.name }}</div>
    <div class="product-content-field">
      Price:
      <u
        ><i>{{ product.price | currency: "PLN":"symbol" }}</i></u
      >
    </div>
    <div class="product-content-field">Description: {{ product.description }}</div>
  </div>
</div>
