.button-back-to-list {
  margin: 10px;
}

.product-details-container {
  justify-content: center;
  margin: 10px;
}

.product-header {
  margin: 10px;
  padding: 20px;
  background-color: white;
  text-align: center;
  color: white;
}

.product-content {
  margin: 10px;
}
