<div class="text-center" *ngIf="!showSummary">
  <div class="message-container border rounded">
    Are you sure do yo want to remove this product?
  </div>
  <div class="d-flex justify-content-end">
    <div class="cancel-button">
      <button class="btn btn-secondary" (click)="closeDialog()">
        Cancel
      </button>
    </div>
    <div>
      <button class="btn btn-primary" (click)="deleteProduct()">
        Delete
      </button>
    </div>
  </div>
</div>
<div *ngIf="showError" class="text-danger">
  <div class="error">
    Error occured with sending form. Please message with Administrator.
  </div>
</div>
