<div class="text-center" *ngIf="!showSummary">
  <div class="message-container border rounded">
    Are you sure do yo want to remove this product?
  </div>
  <br/>
  <div>
    <button
      class="btn btn-primary"
      (click)="deleteProduct()"
    >
     Delete
    </button>
  </div>
</div>
<div class="text-center" *ngIf="showSummary">
  <div class="message-container border rounded">
    Product was deleted.
  </div>
  <br />
  <div>
    <button class="btn btn-primary" [routerLink]="['/products']">
      Go back to products
    </button>
  </div>
</div>
<div *ngIf="showError" class="text-danger">
  <br />
  <div>
    Error occured with sending form. Please message with Administrator.
  </div>
</div>
